In [54]:
import numpy as np
import pandas as pd

In [55]:
p1 = 100
p2 = 150
p3 = 200
p4 = 250

In [56]:
df = pd.DataFrame({
    'price': [p1, p2, p3, p4]
})
df['shifted'] = df['price'].shift(-1)

In [57]:
df

   price  shifted
0    100    150.0
1    150    200.0
2    200    250.0
3    250      NaN

In [58]:
df['returns'] = (df['shifted'] - df['price']) / df['price']
df['log_ret'] = np.log(df['shifted'] / df['price'])

In [ ]:
df['cum_ret'] = (1 + df['returns']).cumprod() - 1
df['cum_log_ret'] = df['log_ret'].cumsum()

In [61]:
display(df)

   price  shifted   returns   log_ret  cum_ret  cum_log_ret
0    100    150.0  0.500000  0.405465      0.5     0.405465
1    150    200.0  0.333333  0.287682      1.0     0.693147
2    200    250.0  0.250000  0.223144      1.5     0.916291
3    250      NaN       NaN       NaN      NaN          NaN